#watson-header{
	background-color: #2C597B; 
	// height: 110px; 
	height: 51px; 
	position: static; 
	@media (min-width: $screen-sm){
		// height: 140px 
		height: 74px; 
	}
	img{
		// width: 108px; 
		width: 81px; 
		// margin: 15px -9px 0;
		margin: -20px -9px 0; 
		opacity: 0.5; 
		@media (min-width: $screen-sm){
			width: 118px;
			// margin-top: 36px; 
			margin-top: -30px 
			  
		}
	}
	span{
		font-size: 18px;
		position: absolute;
		// margin: 60px -72px 0;
		margin: 10px -50px 0;  
		color: #FFF;
		font-weight: lighter;
		@media (min-width: $screen-sm){
			font-size: 36px;
			margin: 0 auto 0;   
			width: 624px; 
		}
		@media (min-width: $screen-md){
			margin-left: 15%;
			margin-right: 15%;  
		}
		@media (min-width: $screen-lg){
			margin: 0 auto;
			width: 85%;
			text-align: center;     
		}
	}
}