#watson-hero{
	width: 204px;
	margin: 12px auto;
	@media (min-width: $screen-sm){
		width: 306px; 
		margin: 24px auto; 
	}
}

#watson-logo-img{
	width: 36px;
	@media (min-width: $screen-sm){
		width: 54px; 
	} 
}

#watson-ask-img{
	width: 81px;
	@media (min-width: $screen-sm){
		width: 123px;
	} 
}

#watson-poweredby-img{
	width: 63px;
	margin-top: 18px;
	@media (min-width: $screen-sm){
		width: 95px;
		margin-top: 27px;  
	} 
}
