
nav{
	background-color: #000; 
	color: #fff; 
	border: none; 
	// width: 100%; 
}

#logo{
	margin: 0 auto; 
	width: 270px; 
	vertical-align: middle; 
	img{
		width: 270px;
		margin: 9px auto;  
		@media (max-width: $screen-xs){
			width: 180px; 
		}
	}
}

#back-btn{
	display: block; 
	margin: 10px 10px 0;
    padding-left: 15px;
    float: left;
    border: none;
    background: transparent;
    color: #FFF;  
}