#watson-container{
	padding-top: 27px; 
}

#watson-response{
  padding: 1em;
  margin: 5em auto;
	table.table > tbody > tr > td {
		border-top: none; 
	}

	@media (min-width: $screen-sm){
		margin: 63px 36px;  
	} 
}

#watson-response-area{
	max-width: 85%;
	margin: 0 auto;  	
}

#watson-response-area ul {
  padding: 0;
  margin: 0;
}

#watson-response-list {
	padding: 0 1.5em;
}

.watson-response-text{
	display: none; 
}

.watson-response-text.active{
	display: block; 	
}

.watson-btns{
	display: none; 
	margin-top: -48px; 
	button{
		border: none;
		span{
			font-size: 18px;
			margin-left: -15px;
			margin-right: -15px;
			@media(min-width: $screen-sm){
				font-size: 45px; 	
			} 
		} 
	}
}

.watson-btns.show {
  display: block;
}

.other-answers{
	display: block;
	margin-top: -150px;
}

.watson-response-icons{
	display: block; 
	width: 200px; 
	margin: 36px auto 0;  
	padding-bottom: 21px; 
	
	button{
		width: 63px;
		height: 63px;
		-webkit-border-radius: 50%; 
		  border-radius: 50%;  
		.glyphicon {
			font-size: 24px; 
		}
		@media (min-width: $screen-sm){
			width: 63px;
			height: 63px;  
		}
	}
}
.learn-more-area{
	width: 100%; 
	text-align: center; 
}

.watson-icon-btn{
	padding: 6px 12px;
	width: 63px;
	height: 63px;
	-webkit-border-radius: 50%; 
	border-radius: 50%;  
	border: 1px solid #286090; 
	margin: 0 auto; 
	color: #286090;
 
}

.wtsn-thumbsup-btn, .wtsn-thumbsdn-btn{
	font-size: x-large;
	padding-top: 14px;  
}

#learn-more-btn > p {
	white-space: pre-line; 
	font-size: 8px;
	padding: 9% 3%;
	margin-top: -8px; 
	@media (min-width: $screen-sm){
		padding: initial;
		font-size: 12px;  
	} 
}
