.sample{
	color: #7f0000;
	font-weight: bold; 
}

#sample-answer{
	display: block; 
}

#sample-question{
	font-style: italic;
}

.prevq:hover{
	text-decoration: underline;
}

#sample-qa-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: repeat(2, 1fr);
}
