#watson-search{
	@media (min-width: $screen-sm){
		margin-top: 27px; 
	}
}

#watson-search-input{
	background-color: #F0F8FF;
	color: #3987EB;
	font-size: 18px;
	vertical-align: middle;    
}

#watson-send-query-btn, #watson-query-history-btn{
	color: #fff;
	background-color: #2C597B;   
	border: 1px solid #387796;
}