.display-none{
	display: none; 
}

.display-inline{
	display: inline;
}

.display-block{
	display: block; 
}

.display-inline-block{
	display: inline-block; 
}

.btn-go{
	color: green !important;
	border: 1px solid green !important;  
}

.btn-stop{
	color: red !important;
	border: 1px solid red !important; 
}