<nav id="watson-nav" class="navbar navbar-fixed-top">
	<button class="btn btn-inverse" id="back-btn">
	  <span class="glyphicon glyphicon-menu-left"></span>
	</button>
	<div id="logo">
		<img src="img/Ask_KO.png" alt="@POC with Watson">	
	</div>
	<header id="watson-header">
		<img src="img/dna-strain.png" alt="DNA">
		<span id="watson-category">${category}</span>
	</header>	
</nav>

<main id="maincontent" class="container">
	<form id="watson-search" class="input-group input-group-lg">
		<input id="watson-search-input" type="text" class="form-control" placeholder="Ask your question here!">
		<div class="input-group-btn">
			
			<button id="watson-query-history-btn" class="btn" type="button">
				<span class="glyphicon glyphicon-time"></span>
			</button>
			<button id="watson-send-query-btn" class="btn" type="submit">
				<span class="glyphicon glyphicon-search"></span>
			</button>

<!-- 			<button id="watson-send-query-btn" class="btn">
				<span class="hidden-xs">Send Question</span>
				<span class="visible-xs glyphicon glyphicon-search"></span>
			</button> -->
		</div>
	</form>

	<div id="watson-response">
		<div class="watson-btns">
			<button id="prev-answer" class="btn btn-default watson-btn pull-left">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
			<button id="next-answer" class="btn btn-default watson-btn pull-right">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</div>
		<div id="watson-response-area">
			${response}
		</div>
	</div>
</main>