// @import 'vendor/normalize';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

#maincontent{
	margin-top: 12em;
}

#suggestions {
  display: none;
}

@import './modules/utility';
@import './components/nav';
@import './components/header';
@import './components/search';
@import './components/samples';
@import './components/response';
@import './components/tools';

